:root {
    --primary-color: #5ac64e;
}

html, body {
    height: 100vh;
    min-height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    color: white;
}

main {
    display: flex;
    justify-content: center;
}

h1 {
    margin: 1vh;
    padding: 0;
}

h2 {
    font-size: 24px;
    margin: 1vh 0 1vh 0;
}

p {
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
    overflow: scroll;
    overflow-x: hidden;
    padding-right: 12px;
    height: 100%;
}

a {
    text-decoration: none;
    color: white;
}

article {
    display: flex;
    flex-direction: column;
    max-height: 63vh;
    margin: 1vh 0.5vw 1vh 1vw;
}

article a {
    font-size: 18px;
    align-self: flex-end;
}

nav {
    display: flex;
    align-content: stretch;
    flex-wrap: nowrap;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    float: left;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

li a {
    margin: 14px;
}

nav li:hover {
    background-color: #FFF;
}

img {
    width: 100%;
    height: auto;
}

.material-icons {
    user-select: none;
}

.container {
    width: 60vw;
    height: 70vh;
    margin-top: 4vw;
    display: grid;
    grid-template-columns: 8% auto 8%;
    grid-template-rows: auto 5%;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 12px 4px;
}

.card {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 1vh;
}

.horizontal_line {
    height: 1px;
    background-color: black;
}

.image_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1vh 1vw 1vh 0.5vw;
    
}

#card_1, #card_2 {
    display: none;
}

.center_content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom_card_nav {
    grid-column-start: 1;
    grid-column-end: 4;
}

.green_nav_button {
    background-color: var(--primary-color);
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.bottom_card_nav li {
    float: left;
    margin: 4px;
    border: 1px solid #707070;
    background-color: #ffffff;
}

.smaller {
    width: 16px;
    height: 16px;
}

