:root {
    --primary-color: #5ac64e;
}

html, body {
    height: 100vh;
    min-height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    color: white;
}

main {
    display: flex;
    justify-content: center;
}

h1 {
    margin: 1vh;
    padding: 0;
}

h2 {
    font-size: 24px;
    margin: 1vh 0 1vh 0;
}

p {
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
    overflow: scroll;
    overflow-x: hidden;
    padding-right: 12px;
    height: 100%;
}

a {
    text-decoration: none;
    color: currentColor;
}

article {
    display: flex;
    flex-direction: column;
    max-height: 63vh;
    margin: 1vh 0.5vw 1vh 1vw;
}

button {
    border-radius: 50px;
    padding: 12px 32px;
    margin: 12px 18px;
    border: none;
    background-color: var(--primary-color);
    color: white;
    font-size: 18px;
    min-width: 11vw;
}

article a {
    font-size: 18px;
    align-self: flex-end;
}

nav .horizontal-nav {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    flex-wrap: nowrap;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.horizontal-nav ul {
    /* display: flex;
    align-items: stretch; */
    height: 100%;
}

.horizontal-nav li {
    float: left;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.horizontal-nav li a {
    color: white;
    margin: 14px
}

.horizontal-nav li:hover {
    background-color: #29a329;
}

img {
    width: 100%;
    height: auto;
}

.material-icons {
    user-select: none;
}

.hidden {
    display: none;
}

/* Styles for main page */

.container {
    width: 60vw;
    height: 70vh;
    margin-top: 4vw;
    display: grid;
    grid-template-columns: 8% auto 8%;
    grid-template-rows: auto 5%;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 12px 4px;
}

.card {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 1vh;
}

.horizontal_line {
    height: 1px;
    background-color: black;
}

.image_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1vh 1vw 1vh 0.5vw;
    
}

#card_1, #card_2 {
    display: none;
}

.center_content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom_card_nav {
    grid-column-start: 1;
    grid-column-end: 4;
}

.green_nav_button {
    background-color: var(--primary-color);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    cursor: pointer;
}

.bottom_card_nav li {
    float: left;
    margin: 4px;
    border: 1px solid #707070;
    background-color: #ffffff;
}

.smaller {
    width: 16px;
    height: 16px;
}

/* Styles for 'Remember Cards Game' */

.flex-row {
    display: flex;
    flex-direction: row;
}

.drawer {
	width: 14vw;
	background-color: #707070;
	min-width: min-content;
    color: #cecdcd;
}

.main-drawer-list {
    display: flex;
}

.drawer ul {
    font-size: 18px;
    flex-direction: column;
    align-items: stretch;
}

.settings-options li {
    padding: 6px 0 6px 40px;
}

.drawer-item {
    min-height: 52px;
    display: flex;
    align-items: center;
}

.dark-on-hover:hover {
    background-color: #555555;
}

.drawer li .material-icons-outlined {
    margin: 2px 10px 2px 8px;
    cursor: pointer;
}

.drawer li .nav-item-label {
    cursor: pointer;
}

.drawer .nav-item-label, a {
    margin: 0 10px 0 0;
}

.game-area {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container {
    width: 60%;
    height: 100vh;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 10vh auto 12vh;
}

.progress-container {
    display: none;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}

.progress-info {
    width: fit-content;
    flex-grow: 1;
    margin: 10px 0 6px 10px;
    font-size: 21px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #707077;
}

.progress-bar-container {
    background-color: #cecdcd;
    width: 95%;
    height: 8px;
    border-radius: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.progress-bar {
    background-color: var(--primary-color);
    width: 0%;
    height: 100%;
    border-radius: 4px 0 0 4px;
}

.timer {
    background-color: yellow;
}

.game {
    grid-column: 1 / 3;
}

.bottom-buttons-container {
    grid-column: 1 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outlined-button {
    color: var(--primary-color);
    background-color: transparent;
    border: 1px solid var(--primary-color);
}

button.start-game {
    display: block;
}

button.stop-game {
    display: none;
}

button.next {
    display: none;
}